<div class="ef-account-form">
    <h1 class="ef-account-form-title">Update Account Info</h1>
    {{#form-for user submit=(action 'saveForm') as |f|}}
        <div class="ef-account-form-input">
            {{f.text-field "f" label="First Name"}}
            <br>
            {{f.text-field "l" label="Last Name"}}
            <br>
            {{f.text-field "a" label="Address"}}
            <br>
            {{f.text-field "t" label="Town/City"}}
            <br>
            {{f.text-field "z" label="Zipcode"}}
            <br>
            {{f.text-field "s" label="State/Province"}}
            <br>
            {{f.text-field "c" label="Country"}}
            <br>
            {{f.text-field "b" label="Birthdate"}}
            <br>
            {{f.text-field "p" label="Phone"}}
        </div>
        {{f.reset "Reset Changes" class="common-button"}}
        {{f.submit "Update Info" class="common-button"}}
    {{/form-for}}
</div>
